* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

.container {
    width: 100%;
    padding: 20px;
    display: block;
    line-height: 1.7;
}

img {height: 20rem;
     position: absolute;}

h1, h2, p {
    margin: 10px 0;
}